name: "Publish to FlakeHub"
on:
  workflow_run:
    workflows: ["Run tests"]
    branches: [main]
    types:
      - completed
jobs:
  success:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: "ubuntu-latest"
    steps:
      - run: 'Tests were successful'
  flakehub-publish:
    needs:
      - success
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: "actions/checkout@v5"
        with:
          persist-credentials: false
      - uses: "DeterminateSystems/determinate-nix-action@v3"
      - uses: "DeterminateSystems/magic-nix-cache-action@main"
      - uses: "DeterminateSystems/flakehub-push@main"
        with:
          name: "kauhat/nixos-configs"
          rolling: true
          visibility: "unlisted"
          include-output-paths: true
