name: "Push to mynixos"
on:
  workflow_run:
    workflows: ["Run tests"]
    branches: [main]
    types:
      - completed
jobs:
  success:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: "ubuntu-latest"
    steps:
      - run: echo "Tests were successful"

  mynixos-publish:
    needs:
      - success
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Set up SSH
        run: |
          echo "${{ secrets.MYNIXOS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Push to mynixos
        run: |
          git remote add mynixos "${{ vars.MYNIXOS_REPO_URL }}"
          git push mynixos main --force
